<div class="container">
  <section class="title">
    Flight Search Engine
  </section>
  <section class="wrapper">
    <section class="menu">
      <div class="search-filters">
        <div class="tab">
          <button (click)="toggleTab()" class="tab-title" 
          [disabled]="!returnFlight"
          [ngStyle]="{'z-index': returnFlight ? 0 : 1}">
            <span>
              One way
            </span>
          </button>
          <button 
          (click)="toggleTab()"
          [disabled]="returnFlight"
           class="tab-title margin-left-75">
            <span>
              Return
            </span>
          </button>
        </div>
        <div class="tab-content">
          <form>
            <div class="form-spacing">
              <input type="text" name="originCityName" [(ngModel)]="originCityName" placeholder="Enter Origin City" />
            </div>
            <div class="form-spacing">
              <input type="text" name="destinationCityName" [(ngModel)]="destinationCityName" placeholder="Enter Destination City" />
            </div>
            <div class="form-spacing">
              <input type="date" name="departureDate" [(ngModel)]="departureDate" placeholder="Departure Date" />
            </div>
            <div class="form-spacing"  *ngIf="returnFlight">
              <input type="date" name="returnDate" [(ngModel)]="returnDate" placeholder="Return Date" />
            </div>
            <div class="form-spacing">
              <select name="passengers" [(ngModel)]="passengers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="form-spacing">
              <button class="submit-btn" (click) = "searchFlights(
                originCityName,
                destinationCityName,
                departureDate,
                returnDate,
                passengers
              )">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="search-result-slider">
        <div>
          <span class="slider-title">
            Refine flight search
          </span>
          <input type="range" min="{{ searchResults.min }}" max="{{ searchResults.max }}">
        </div>
      </div>
    </section>
    <section class="content">
      <div class="flights-search-data">
        <div class="route">
          <span>
            {{ searchedOriginCityName }}
          </span>
          <i *ngIf="searchedOriginCityName">
            >
          </i>
          <span>
            {{ searchedDestinationCityName }}
          </span>
          <i *ngIf="returnFlight && searchedOriginCityName">
            >
          </i>
          <span *ngIf="returnFlight">
            {{ searchedOriginCityName }}
          </span>
        </div>
        <div class="dates">
          <div *ngIf="searchedOriginCityName" class="dates-content">
            <span *ngIf="departureDate" class="departure-date block-span">
              Depart: {{ departureDateFormatted }}
            </span>
            <span *ngIf="returnDate" class="return-date block-span">
              Return: {{ returnDateFormatted }}
            </span>
          </div>
        </div>
      </div>
      <div class="flights-search-results">
        <div 
        *ngFor="let flightSearched of flightsSearch;"
        class="flight-details">
          <div class="row">
            <div class="row-title">
              <span class="price">
                Rs. {{ 
                  (flightSearched.returnFlightPrice) ?
                  flightSearched.departFlightPrice + flightSearched.returnFlightPrice :
                  flightSearched.departFlightPrice 
                }}
              </span>
            </div>
            <div class="content departure">
              <span class="block-span">
                {{ flightSearched.departFlightId }}
              </span>
              <div class="content-data font-25">
                <span class="block-span">
                  {{ flightSearched.departFlightOriginCode }} > {{ flightSearched.departFlightDestinationCode }}
                </span>
                <div class="content-data-details">
                  <div class="label">
                    <span class="block-span">
                      Depart: 
                    </span>
                    <span class="block-span">
                      Arrive: 
                    </span>
                  </div>
                  <div class="label-data">
                    <span class="block-span">
                      {{ flightSearched.departFlightDepartureTime }}
                    </span>
                    <span class="block-span">
                      {{ flightSearched.departFlightArrivalTime }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row-title">

            </div>
            <div class="content arrival">
              <span class="block-span">
                {{ flightSearched.returnFlightId }}
              </span>
              <div class="content-data font-25">
                <span class="block-span">
                  {{ flightSearched.returnFlightOriginCode }} > {{ flightSearched.returnFlightDestinationCode }}
                </span>
                <div class="content-data-details">
                  <div class="label">
                    <span class="block-span">
                      Depart:
                    </span>
                    <span class="block-span">
                      Arrive:
                    </span>
                  </div>
                  <div class="label-data">
                    <span class="block-span">
                      {{ flightSearched.returnFlightDepartureTime }}
                    </span>
                    <span class="block-span">
                      {{ flightSearched.returnFlightArrivalTime }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-end">
            <div class="image">

            </div>
            <div>
              <button>
                Book this flight
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>