
.block-span {
    display: block;
}
.font-25{
    font-size: 25px;
}
.margin-left-75{
    margin-left: 75px;
}
.z-index{
    z-index: 1;
}
$border-2px: 2px solid grey;
$border-1px: 1px solid grey;
.container{
    margin: 0px 5px;
    .title{
        font-size: 50px;
        border: $border-1px;
        padding: 10px 10px;
    }
    width: 100%;
    height: 500px;
    .wrapper{
        display: flex;
        min-height: 456px;
        flex-direction: row;
        .menu{
            border: $border-1px;
            border-left: $border-2px;
            width: 20%;
            .search-filters {
                padding: 10px 10px;
                form{
                    padding: 10px 10px;
                    display: flex;
                    flex-direction: column;

                    .form-spacing{
                        margin: 5px 5px;
                    }
                }
                .tab{
                    position: relative;
                    height: 20px;
                    .tab-title{
                        cursor: pointer;
                        display: inline;
                        position: absolute;
                        background-color: white;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        span{
                            padding: 10px 10px;
                        }
                    }
                }
                .tab-content{
                    border: $border-2px;
                }
            }
            .search-result-slider{
                padding: 10px 10px;
                div{
                    border: $border-2px;
                }
            }
        }    
        .content{
            width: 80%;
            .flights-search-data{
                border: 1px solid grey;
                width: 100%;
                display: flex;
                flex-direction: row;
                .route{
                    padding: 20px 20px;
                    width: 80%;
                    span, i{
                        font-size: 30px;
                    }
                }
                .dates{
                    width: 20%;
                    display: flex;
                    align-items: center;
                }
            }
            .flights-search-results{
                border: 1px solid grey;
                width: 100%;
                .flight-details{
                    border: 2px solid grey;
                    padding: 5px 5px;
                    display: flex;
                    flex-direction: row;
                    margin: 10px 10px;
                    .row{
                        width: 50%;
                        .row-title{
                            height: 50px;
                            .price{
                                font-size: 40px;
                            }
                        }
                        .content{
                            .content-data{
                                .content-data-details{
                                    display: flex;
                                    flex-direction: row;
                                    .label{
                                        width: 35%;
                                    }
                                    .label-data{
                                        width: 65%;
                                    }
                                }
                            }
                        }
                    }
                    .row-end{
                        width: 20%;
                    }
                    .image{
                        height: 100px;
                        width: 200px;
                    }
                }
            }
        }
    }
}